#content {
  display: flex;
  flex-wrap: wrap;
}

#searchbar {
  width: 30%;
}

#list {
  width: 25%;
  height: 600px;
}

#map {
  height: 600px;
  width: 75%
}

#button {
  visibility: hidden;
}

.items {
  padding: 1px;
}

@media screen and (max-width: 800px) {
    #map {
      width: 100%;
    }

    #list {
      width: 100%;
      height: 240px;
    }

    #searchbar {
      width: 50%;
    }

    #button {
        visibility: visible;
    }
}
